{% extends "base.html" %}

{% load static %}

{% block contenidos %}


<body>
  <div class="center-text">
    <div class="card text-center">
      <div class="card-header">
        Inicio de Sesión
      </div>
      <div class="card-body">
        <div class="center">
          <div class="text-center">
            <img src="{% static 'app1/img/avatar2.png'%}" alt="Avatar" class="avatar" width='150px' height='100px'>
            <h5 class="card-title">Bienvenido</h5>
            <p class="card-text">Ingresa tu correo</p>
            <input type="text" name="nombredelacaja">
            <p class="card-text">Ingresa tu contraseña</p>
            <input type="text" name="nombredelacaja">

          </div>
          <div class="margen">
            <a onclick='inicioSesion()' href="{% url 'app1:fichamedica' %}" class="btn btn-primary">Iniciar Sesión</a>
          </div>

        </div>

      </div>

      <div class="card-footer text-muted">
        InterSalud
      </div>
    </div>
  </div>

  <script>
    function inicioSesion() {
      alert("Has iniciado sesión correctamente");
    }
  </script>


</body>
{% endblock %}