{% extends "base.html" %}

{% load static %}

{% block contenidos %}

</head>

<body>

    <img src="{% static 'app1/logo.png'%}" alt="">
    </head>

    <body>
        <!-- Encabezado calendario-->
        <h1 class="fondo-destacado">Calendario de Atenciones</h1>
        <p>Haga click en el día que le interesa, para ver la Planificación Diaria:</p>

        <!-- Bloque imagen Calendario -->
        <div class="month">
            <ul>
                <li class="prev">&#10094;</li>
                <li class="next">&#10095;</li>
                <li>
                    Febrero<br>
                    <span style="font-size:18px">2021</span>
                </li>
            </ul>
        </div>

        <ul class="weekdays">
            <li>Lunes</li>
            <li>Martes</li>
            <li>Miércoles</li>
            <li>Jueves</li>
            <li>Viernes</li>
            <li>Sábado</li>
            <li>Domingo</li>
        </ul>

        <ul class="days">
            <li></li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li><span class="active">10</span></li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li><span class="active">16</span></li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>

        </ul>

        <!-- js "Imprimir página" -->
        <input type="button" value="Imprime esta página" onclick="window.print()">
        <br>
        <br>

    </body>
    {% endblock %}