{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" type="text/css">
    <link href="{% static 'app1/css/estilos.css' %}" rel="stylesheet">

</head>

<body>

    <!-- Navigation Links -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">InterSalud</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./administracion.html">Administración </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./login.html">Iniciar Sesion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./register.html">Registro</a>
                </li>
            </ul>
            <span class="navbar-text">
                text
            </span>
        </div>
    </nav>


<footer>
    <h6>Intersalud | 13 Norte 635, Viña del Mar | (032) 245 10 00 | info@ccdm.cl | </h6>
    2021 &copy; Intersalud | Tu salud en buenas manos.
</footer>

</html>